---
import BaseLayout from "../layouts/BaseLayout.astro";
import PagoButton from "../components/PagoButton.astro";
---
<BaseLayout>
  <h2>Pagar Inscripción</h2>
  <PagoButton />
</BaseLayout>
