---
title: "Reglas del Torneo"
import '../styles/global.css';
import Footer from '../components/Footer.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout/>
<main class="bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-4xl mx-auto bg-white p-8 rounded-xl shadow-xl space-y-6">
    <h2 class="text-3xl font-semibold text-center text-blue-600">Reglas del Torneo</h2>

    <section class="space-y-4">
      <h3 class="text-2xl font-semibold text-gray-800">1. Equipos</h3>
      <p class="text-gray-600">
        Cada equipo deberá estar compuesto por un máximo de 7 jugadores, incluyendo los suplentes. Los suplentes serán un máximo de 3 personas.
      </p>
    </section>

    <section class="space-y-4">
      <h3 class="text-2xl font-semibold text-gray-800">2. Inscripción</h3>
      <p class="text-gray-600">
        La inscripción de los equipos estará abierta hasta que se completen todos los cupos disponibles. Los equipos deberán completar el formulario de inscripción en línea.
      </p>
    </section>

    <section class="space-y-4">
      <h3 class="text-2xl font-semibold text-gray-800">3. Reglas de Juego</h3>
      <p class="text-gray-600">
        El torneo se jugará con reglas estándar de fútbol. Cada equipo tendrá 20 minutos por partido, con descanso de 5 minutos entre ellos.
      </p>
    </section>

    <section class="space-y-4">
      <h3 class="text-2xl font-semibold text-gray-800">4. Fair Play</h3>
      <p class="text-gray-600">
        El respeto mutuo entre los jugadores y equipos es fundamental. Cualquier conducta antideportiva será sancionada con la descalificación del equipo.
      </p>
    </section>
  </div>
</main>
<BaseLayout/>
<Footer/>